/* src/AccordionList.css */


.accordionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.accordionContainer{
    background-color: #F7EFED;
}

.accordionPageHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vh;
    height: 10vh;
    background-color: #F7EFED;
}

.accordionListContainer{
    background-color: #F7EFED;
}

.accordionPageHeaderDate {
    font-family: "Baloo 2", sans-serif;
    font-size: 3vh;
    font-weight: 1000;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px rgba(16, 37, 56, 0.7), -0.5px -0.5px 1px rgba(16, 37, 56, 0.7), 0.5px -0.5px 1px rgba(16, 37, 56, 0.7), -0.5px 0.5px 1px rgba(16, 37, 56, 0.7);
    color: rgba(16, 37, 56, 0.9);
}

.accordionType{
    font-family: "Baloo 2", sans-serif;
    font-size: 3vh;
    font-weight: 600;
    color: #30695D;
}
.accordionAmount {
    font-family: "Baloo 2", sans-serif;
    font-size: 2.8vh;
    color: #616B77;
    min-width: 6vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}
.accordionTime{
    font-family: "Baloo 2", sans-serif;
    font-size: 3vh;
    font-weight: 600;
    color: #005669;
    min-width: 12vh;
    text-align: right;
}

.accordionDetails{
    font-family: "Baloo 2", sans-serif;
    font-size: 2.2vh;
    font-weight: 400;
    color: #3E4D5CB2;
    min-width: 12vh;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 5vh;
    padding-right: 5vh;
}

.containerWithBordersTitle{
    border-bottom: 0.2vh solid #50535A80;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 1vh;
    margin-right: 1vh;
}
.containerWithBordersName{
    border-bottom: 0.2vh solid #50535A80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1vh;
    margin-right: 1vh;
}
.containerWithBordersLogo{
    border-bottom: 0.2vh solid #50535A80;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.modalTitle{
    font-family: "Baloo 2", sans-serif;
    font-size: 3.8vh;
    font-weight: 700;
    color: #102538;
    text-shadow: 0.5px 0.5px 1px #102538, -0.5px -0.5px 1px #102538, 0.5px -0.5px 1px #102538, -0.5px 0.5px 1px #102538;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userTitle{
    font-family: "Baloo 2", sans-serif;
    font-size: 4vh;
    font-weight: 700;
    color: #102538;
    text-shadow: 0.5px 0.5px 1px #102538, -0.5px -0.5px 1px #102538, 0.5px -0.5px 1px #102538, -0.5px 0.5px 1px #102538;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    background-image: url('../../../public/icons/patient_icon.svg');
    background-size: cover;
    background-position: center;
    width: 17vh;
    height: 17vh;
}

.LogoContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: 0.2vh solid #50535A80;
    padding-right: 1.4vh;
    width: 3vh;
    height: 4vh;
}

