.calendar {
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 13vh;
    background-color: #F7EFED;
}

.calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.navButtonLeft {
    border: none;
    cursor: pointer;
    background-image: url('../../public/icons/flecha_izq.png');
    background-size: cover;
    background-position: center;
    width: 4vh;
    height: 3vh;
}

.navButtonRight {
    border: none;
    cursor: pointer;
    background-image: url('../../public/icons/flecha_derecha.png');
    background-size: cover;
    background-position: center;
    width: 4vh;
    height: 3vh;
}

.dateText {
    font-family: Baloo Bhai, cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 31.88px;
    text-align: left;
}

.calendarHeader h1 {
    font-size: 2.5vh;
    margin: 0;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reminderSection {
    display: flex;
    align-items: center;
    background-color: #61D095;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    width: 30vh;
    height: 6vh;
    border: 0.3vh solid #30695D;
}

.reminderIcon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.reminderText {
    font-size: 0.9rem;
}

.reminderText div {
    margin-bottom: 5px;
}

.reminderText span {
    color: #1c8ef9;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.calendarDay{
    padding: 10px;
    text-align: center;
    border-bottom: 0.3vh solid #50535A80;
    font-family: 'Baloo 2', sans-serif;
}

.calendarDate {
    height: 12vh;
    border-radius: 1px 0 0 0;
    border: 0.3vh solid #50535A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', sans-serif;
}

.dateContent{
    width: 100%;
    height: 73%;
}

.dateNumber {
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #477489;
}

.dateEmptyNumber{
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4774898C;
    color: #F7EFED8C;
    font-family: 'Baloo 2', sans-serif;
}

.calendarDateEmpty {
    background-color: #F7EFED;
    border: 0.3vh solid #50535A8C;
}

@media (max-width: 600px) {
    .calendar {
        width: 100%;
    }

    .calendarHeader h1 {
        font-size: 1rem;
    }

    .calendarHeader button {
        font-size: 1.2rem;
    }

    .calendarGrid {
        gap: 2px;
        padding: 5px;
    }

    .calendarDate {
        font-size: 0.8rem;
    }

    .calendarDay{
        padding: 8px;
        font-size: 0.8rem;
    }
}